@{
    Layout = null;
}
@using Graduate_Council.Model;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>无标题文档</title>
    <script src="../../Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <link href="../../Res/Admin/css/select.css" rel="stylesheet" type="text/css" />
    <link href="../../Res/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../../Res/Admin/js/jquery.js" type="text/javascript"></script>
    <script src="../../Res/Admin/js/jquery.idTabs.min.js" type="text/javascript"></script>
    <script src="../../Res/Admin/js/select-ui.min.js" type="text/javascript"></script>    
    <script src="../../Scripts/jquery.form.js" type="text/javascript"></script>    
    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 345
            });
            $(".select2").uedSelect({
                width: 167
            });
            $(".select3").uedSelect({
                width: 100
            });
        });
        $(function () {
            fileUpload();
        })
        function fileUpload() {
            $("#upLoadbtn").click(function () {
                if ($("#uploadData").val() == "") {
                    alert("请选择文件");
                    return;
                }
                else {
                    $("#form1").ajaxSubmit({
                        type: "post",
                        url: "/Admin/FileUploadData",
                        success: function (data) {
                            var serverDate = data.split(':');
                            if (serverDate[0] == "ok") {
                                $("#Detail").val(serverDate[1]);
                                $("#hide").append("<a href='#'>" + serverDate[1] + "</a>");
                                alert("文件上传成功，请继续添加新闻");                              
                            }
                        }
                    })
                }
            })
        }
        function AfterSuccess(data) {
            if (data == "ok") {
                alert("信息添加成功！");
                window.location.href = "/Admin/ReturnRightView?Name=@ViewData["Name"]&&Msg=@ViewData["Msg"]";
            }
            else if (data == "no") {
                alert("信息添加失败！");
            }
            else {
                alert(data);
            }
        }
        function exit() {
            if (confirm("确定要退出么？")) {
                window.location.href = "/Admin/ReturnRightView?Name=@ViewData["Name"]&&Msg=@ViewData["Msg"]";
            }
        }
    </script>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li>新闻管理</li>
            <li><a href="/Admin/ReturnRightView?Name=@ViewData["Name"]&&Msg=@ViewData["Msg"]">@ViewData["Msg"]</a></li>
            <li>添加新闻</li>
        </ul>
    </div>
    <div class="formbody">
        <div id="usual1" class="usual">
            <div class="itab">
                <ul>
                    <li><a href="#tab1" class="selected">发布新闻</a></li>
                </ul>
            </div>
            <div id="tab1" class="tabson">
                <div class="formtext">

                    添加<b>@ViewData["Msg"]</b>新闻！</div>
                     @using (Ajax.BeginForm("UpdateBanner", new { }, new AjaxOptions() { HttpMethod = "post" }, new { id = "form1", enctype = "multipart/form-data" }))
                    {                                                                                                                         
                <ul class="forminfo">
                <li>                    
                        <label>
                            请选择文件<b>*</b></label>
                       <input type="file" id="uploadData" name="uploadData" class="dfinput"/><input type="button" id="upLoadbtn" value="上传文件" class="dfinput"/></li>                    
                    <li>                    
                    <div id="showImg"></div>
                    </li>
                    </ul>
                    }
                    @using (Ajax.BeginForm("AddNewInfo", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "AfterSuccess" }, new { id = "form1" }))
                    { 
                        <input type="hidden" name="Name" value="@ViewData["Name"]"/>                                                                         
                <ul class="forminfo">
                    <li>                    
                        <label>
                            新闻名称<b>*</b></label><input name="Title" type="text" class="dfinput" style="width: 518px;" /></li>
                    <li>
                        <label>
                            来源<b>*</b></label>
                        <input name="Author" type="text" class="dfinput" style="width: 518px;" /></li>
                    <li>
                        <label>
                            时间<b>*</b></label><input name="SubDateTime" type="text" class="dfinput" value="@DateTime.Now"  style="width:518px;"/>
                    </li>
                    <li>
                        <label>
                            新闻类型<b>*</b></label>
                        <div class="usercity">
                            <div class="cityleft">
                                <select name="Category" class="select2">
                                    <option>资料下载</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li><label>
                            显示新闻<b>*</b></label> &nbsp;&nbsp;&nbsp;<input name="IsDisplay" type="checkbox" style="width:15px;height:15px;margin-right:10px;cursor:pointer;" />显示新闻到主页请勾选</li><br /><br />
                    <li>
                        <label>
                            新闻内容<b>*</b></label><div id="hide"></div>
                        <input type="hidden" name="Detail" id="Detail"/>
                    </li>
                    <li>
                        <label>
                            &nbsp;</label><input type="submit" class="btn" value="添加新闻" /><label>
                            &nbsp;</label><input type="button" class="btn" onclick="exit()" value="退出" style="padding-right:25px"/> </li>                            
                </ul>
                }               
            </div>            
        </div>
    </div>
</body>
</html>
