
.home-left{
	width: 724px;
	height: auto;
	min-height: 300px;
	float: left;
	padding-top: 20px;
}

.home-right{
	width: 280px;
	min-height: 500px;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}

.home-baner{
	width: 100%;
	height: 200px;
	float: left;
}


.home-left-banner{
	width: 1020px;
	padding: 2px;
	float: left;
	background: #FFF;
	margin-top: 20px;
}

.home-left-page{
	width: 700px;
	padding: 12px;
	float: left;
	background: #FFF;
	margin-bottom: 20px;
}

.home-floor{
	height: auto;
	float: left;
	width: 724px;
	margin-bottom: 20px;
}


.home-box{
	width: 352px;
	float: left;
	line-height: auto;
	background: #FFF;
	min-height: 100px;
}

.list-table{
	width: 100%;
}

.list-table tr th{
	width: 270px;
	float: left;
	text-align: left;
	word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  line-height: 25px;
  font-weight: 100;
    
}
.list-table tr th a{
	color: #333;
}
.list-table tr th a:hover{
	color: #069;
}

.list-table tr td{
	color: #999;
	text-align: right;
}


.home-box .title{
	font-size: 14px;
	line-height: 24px;
	text-indent: 1em;
	border-bottom: #eee 1px solid;
	padding-bottom: 5px;
}

.home-box .title img{
	width: 24px;
	line-height: 24px;
	float: left;
}


.home-right-otherfun{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 20px;
}

.home-right-tips{
	width: 280px;
	min-height: 76px;
	background-position-x:240px;
	background-position-y:15px;
}


.weixin-box{
	width: 278px;
	float: left;
	border: #e5e5e5 1px solid;
}

.weixin-box .images .erweima{
	float: left;
	width: 100px;
	margin-left: 20px;
}

.weixin-box .title{
	width: 268px;
	border-bottom: #e5e5e5 1px solid;
	color: #5093d5;
	font-size: 12px;
	line-height: 18px;
	padding-top: 6px;
	padding-bottom: 6px;
	float: left;
	padding-left: 10px;
}

.weixin-box .title img{
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 6px;
}