@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>topview</title>
    <link href="../../Res/Admin/css/style.css" rel="stylesheet" type="text/css" />
    <script src="../../Res/Admin/js/jquery.js" type="text/javascript"></script>  
</head>
<body style="background:url(/images/topbg.gif) repeat-x;">

    <div class="topleft">
    <a href="/Admin" target="_parent"><img src="/images/logo.png" alt="logo.png" title="系统首页" /></a>
    </div>                        
    <div class="topright">    
    <ul>
    <li><a href="/Login/Index" target="_parent" style="line-height:25px;"><img src="/images/logout.png" alt="退出" width="24" height="24" style="float:left;"/>&nbsp;退出</a></li>
    </ul>            
    </div>

</body>

</html>
